{% extends "base.html" %}
{% load static %}
{%block title%}Category{% endblock title%}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group">
                    {% for value in title %}
                        <a href="{% url 'category-title' value.title %}" class="list-group-item list-group-item-action" aria-content="true">{{ value.title }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-9">
                <div class="row">
                    {% for each in product %}
                        <div class="col text-center mb-4">
                            <a href="{% url 'product-detail' each.id %}" class="btn">
                                <div>
                                    <img src="{{ each.product_image.url }}" alt="{{ each.title }}" width="300px" height="200px">
                                    <div class="fw-bold">{{ each.title }}</div>
                                    <div class="fw-bold text-danger">
                                        Rs.{{ each.discounted_price }}/-
                                        <small class="fw-light text-decoration-line-through">{{ each.selling_price }}</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

{% comment %} {% url 'category-brand' val.title %} {% endcomment %}